./CCGRID/benchmark/log*/*.*
./CCGRID/simulated_DNN/log*/*.*
./PHOTONICS/allreduce
./PHOTONICS/log*/*.*
./PHOTONICS/*/log*/*.*
./elec_vs_opt/parse*/*.*
./elec_vs_opt/old/*.*
./elec_vs_opt/log*/*.*
./elec_vs_opt/ping_x
./elec_vs_opt/allreduce
./a.diff
./SimGrid-3.21/CMakeCache.txt
./SimGrid-3.21/CMakeFiles/
./SimGrid-3.21/CPackConfig.cmake
./SimGrid-3.21/CPackSourceConfig.cmake
./SimGrid-3.21/CTestCustom.cmake
./SimGrid-3.21/CTestTestfile.cmake
./SimGrid-3.21/DartConfiguration.tcl
./SimGrid-3.21/Makefile
./SimGrid-3.21/Testing/
./SimGrid-3.21/bin/
./SimGrid-3.21/build/
./SimGrid-3.21/cmake_install.cmake

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
.project
.vscode/
